.d-flex{ display: flex; }
.fD-col{ flex-direction: column; }
.fD-row{ flex-direction: row; }

.jC-cen{ justify-content: center;}

.aI-cen{ align-items: center;}


.g-10{ gap: 10px; }
.g-15{ gap: 15px; }
.g-50{ gap: 50px; }