/* Width */


/* size */
.s20{ width: 20px; height: 20px; }
.s30{ width: 30px; height: 30px; }
.s34{ width: 34px; height: 34px; }

/* /// size /// */

/* font-size */
.f18{ font-size: 18px; }
.f25{ font-size: 25px; }
/* /// font-size /// */